@import "https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Roboto:wght@300;400;500;700&display=swap";

:root {
  --dark: #000;
  --black: #1e2832;
  --white: #fff;
  --dark-50: #00000080;
  --white-5: #ffffff0d;
  --primary: #ff6f61;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
body {
}
.wrapper {
  width: 100%;
}
a {
  text-decoration: none;
}
.col-3 {
  width: calc(100% / 3);
}
html {
  font-size: 16px;
}
img {
  width: 100%;
}
ul li {
  list-style: none;
}
section {
  max-width: 100%;
  margin-top: 6rem;
}
#section-1 {
  background: var(--black-5, rgba(30, 40, 50, 0.05));
  position: relative;
  margin-top: 0;
}
.container {
  margin: 0 auto;
  display: flex;
  width: 68%;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}
#header {
  width: 100%;
}
#section-1 .container {
  margin-bottom: 0;
}
.header__top {
  display: flex;
  padding: 1.5rem 0;
  /* justify-content: space-between; */
  border-bottom: 0.0625rem solid #e3e3e3;
  align-items: center;
  margin-bottom: 1.75rem;
}
.logo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo span {
  font-size: 1.5rem;
  color: var(--dark, #000);
  font-family: AmstelvarAlpha;
  font-weight: 400;
  margin: 0 0.5rem;
}

.logo img {
  width: 1.5rem;
}
.search,
.menu-bar-icon {
  display: flex;
  justify-items: center;
}

.search i,
.menu-bar-icon i {
  font-size: 1rem;
}
.menu-bar-icon {
  display: none;
}
.account {
  display: flex;
  justify-content: flex-end;
}
.account button {
  border: none;
  background: none;
  font-size: 1rem;
  margin-left: 0.75rem;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.menu li {
  cursor: pointer;
}
ul li:hover {
  color: var(--primary, #ff6f61);
  cursor: pointer;
}
.banner {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 3rem;
  width: 100%;
  z-index: 9;
}
.flower-pattern {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
}

.flower-pattern::before {
  content: "";
  background-image: url("./Frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 8rem;
  height: 6rem;
  margin-top: 7rem;
}
.flower-pattern::after {
  content: "";

  background-image: url("./Vector.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 8.27125rem;
  height: 14rem;
  margin-bottom: 6rem;

  float: right;
}

.banner__content {
  width: 35rem;
}
.banner__content .title {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.banner__content .description {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 3.75rem;
  line-height: 3.25rem;
}
.black-button:hover,
.btn-collection:hover {
  background: var(--primary, #ff6f61);
}
.btn {
  display: inline-flex;
  padding: 1rem 1.75rem;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: var(--white);
  border: none;
  cursor: pointer;
}
.btn i {
  margin-right: 0.5rem;
}
.black-button {
  background: var(--black);
}
.banner_image {
  margin-left: 6rem;
  position: relative;
}
.banner_image img {
  position: absolute;
  top: -1rem;
  right: 1rem;
}
.banner_image img,
.rectangle {
  width: 20rem;
  border-radius: 10rem 0rem;
}
.rectangle {
  border: 2px solid var(--dark-25, rgba(0, 0, 0, 0.25));
  height: 25.5rem;
}

.brands {
  justify-content: space-between;
  display: flex;
  margin: 0 0 3rem 0;
  width: 100%;
}
.brands_item img {
  /* width: 10rem; */
}
#section-2 {
  margin-top: 4rem;
}
.hot-category {
  display: flex;
  margin-bottom: 6rem;
  justify-content: space-between;
}
.hot-category h3 {
  transform: rotate(-90deg);
  position: absolute;
  font-weight: 400;
  text-align: center;
  bottom: 48%;
  left: -44%;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.hot-category__left {
  position: relative;
  width: 50%;
}
.hot-category__left img {
  height: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  height: 48%;
  justify-content: space-between;
}
div img {
  vertical-align: middle;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mt-05 {
  margin-top: 0.5rem;
}
.hot-category__right {
  width: 50%;
  margin-left: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-end;
}
.hot-category-item {
  width: 48%;
  height: 100%;
  position: relative;
}

.title h3 {
  font-size: 2.5rem;
  font-weight: 500;
}
.top-section-product {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.menu-product {
  display: flex;
  width: 23.3125rem;
}
.btn-filter {
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
}

.menu-product__item {
  font-family: Open Sans;
  font-size: 1rem;
  margin: auto;
}
.list-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-item {
  width: 24%;
}
.product-item:hover .product__hover,
.hot-category__left:hover .product__hover,
.hot-category-item:hover .product__hover {
  display: flex;
  opacity: 1;
}
.product-container {
  /* margin: 0.5rem; */
}

.product-item__top {
  margin-bottom: 1rem;
  position: relative;
}
h6 {
  font-size: 1rem;
  font-weight: 600;
}
.product-item__bottom {
  display: flex;
  justify-content: space-between;
}
.product-item__bottom span {
  font-size: 1rem;
  font-weight: 500;
}
.name-product {
  margin-bottom: 1rem;
}
.product__description {
  color: var(--Dark-50, rgba(0, 0, 0, 0.5));
  margin-top: 1rem;
}
.product__price {
  display: flex;
  align-items: flex-end;
}

.product__hover {
  background: #1e2832;
  display: flex;
  justify-content: space-between;
  height: 2.75rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  animation: showInstagramIcon 0.5s ease-in-out;

  opacity: 0;
  display: none;
}
.product__hover * {
  color: var(--white);
  font-size: 0.9rem;
}
.product__hover .shop-now {
  font-weight: 500;
}
.left-item > * {
  padding-left: 1rem;
}
.shop-now > *,
.shop-now {
  padding: 0 0.5rem 0 0.125rem;
}
.left-item,
.shop-now {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-now:hover * {
  color: var(--primary);
}

#section-3 .container {
  width: 60%;
  height: 48.5rem;
  margin-left: 0;
}
.product .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-3 .container {
  background: #010204;
  width: 100%;
  height: 38rem;
}

.container > img {
  height: 38rem;
  transform: translate(-10%, 0px);
}

.brand-logo-dark {
  width: 33rem;
  position: absolute;
  right: 0;
  top: 8%;
}
.brand-logo-white {
  width: 11.9375rem;
  height: 5.0625rem;
}
.brand-banner-content p {
  color: var(--white);
  margin: 3rem 0;
}
.brand-banner-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 17rem;
  top: 11rem;
  max-width: 26rem;
}
.btn-collection {
  max-width: 11rem;
  padding: 1rem;
  background-color: var(--white);
  color: var(--dark);
}
#contact {
  background: var(--black-5, rgba(30, 40, 50, 0.05));
}
#contact .container {
  padding: 6rem 0;
}
.instagram__content {
  margin: 3.5rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.instagram-item {
  width: calc(100% / 6.5);
  position: relative;
}
.instagram-item:hover .instagram-icon__hover {
  display: flex;
}

@keyframes showInstagramIcon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.instagram-icon__hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: var(--white);
  font-size: 2rem;
  display: none;
  justify-content: center;
  align-items: center;
  animation: showInstagramIcon 0.5s ease-in-out;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.new-letter {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4.375rem;
}

h2.title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}
.address {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.address input {
  border: none;
  border-bottom: 1px solid #1e2832;
  padding: 0.5rem 1rem;
  border-bottom: 0.125rem solid #000;
  background-color: unset;
}
input[type="email"]:focus {
  outline: none;
}
input[type="email"] {
  width: 100%;
}
.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.footer__top {
  margin-bottom: 5rem;
}
.left-footer {
  flex: 1;
}
.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-footer .logo {
  justify-content: flex-start;
}
.text-capitalize {
  text-transform: capitalize;
}
.social i {
  margin-right: 2rem;
  font-size: 1.125rem;
}
.footer-menu {
  display: flex;
  font-size: 0.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.375rem;
  margin-left: 3rem;
  width: 12.5rem;
}
.title-menu {
  font-size: 1rem;
  font-weight: 600;
}
.footer__bottom {
  background-color: var(--black);
}
.footer__bottom .container * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.footer__bottom .container,
.footer__top .container {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
  margin: auto;
}
.footer__bottom .container {
  color: #fff;
  margin: auto;
}

.scroll-on-top {
  padding: 0.2rem 1rem;
  font-size: 1rem;
}
.scroll-on-top i {
  margin-left: 0.25rem;
  font-size: 0.75rem;
}
@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
  .search {
    display: none;
  }
  .menu-bar-icon {
    display: block;
  }
  .account button span {
    display: none;
  }
  .hot-category h3 {
    left: -48%;
    font-size: 1rem;
  }
  .footer-menu {
    width: unset;
  }
  .container {
    width: 80%;
  }
  .banner_image {
    margin-left: 4rem;
  }
  .menu {
    display: none;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}
