@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap";
/* Font family */

:root {
  --dark: #000;
  --black: #1e2832;
  --white: #fff;
  --dark-50: #00000080;
  --white-5: #ffffff0d;
  --primary: #ff6f61;
  --black-75: rgba(30, 40, 50, 0.75);
  --font-size-desktop: 18px;
  --font-size-laptop: 16px;
  --font-size-tablet: 14px;
  --font-size-mobile: 12px;
}

/* root */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Default web */

html {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}
button {
  font-family: Roboto;
  font-size: 1.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

/* .col-3 {
  width: calc(100% / 3);
} */

html {
  font-size: var(--font-size-mobile);
  scroll-behavior: smooth;
}

img {
  width: 100%;
  object-fit: cover;
}

ul li {
  list-style: none;
}

section {
  max-width: 100%;
  /* margin-top: 6rem;   */
  margin-bottom: 8.75rem;
}
.mt-15 {
  margin-top: 1.5rem;
}
/* Grid */
.grid {
  /* width: 1200px; */
  max-width: 100%;
  margin: 0;
}
.grid.wide {
  width: calc((10 / 12) * 100%);
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}

/* Cùng nằm trên một hàng ngang và xuống dòng */
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.grid__column {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
}
.grid__column-2 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: calc((2 / 12) * 100%);
}

.grid__column-2-4 {
  /* .75remản phẩm */
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  /* flex: 0 0 calc((2 / 10) * 100%); */
  width: calc((2 / 10) * 100%);
}
.grid__column-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: calc((3 / 12) * 100%);
}
.grid__column-4 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  /* flex: 0 0 calc((3 / 12) * 100%); */
  width: calc((4 / 12) * 100%);
}
.grid__column-5-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  /* flex: 0 0 calc((3 / 12) * 100%); */
  width: calc((5 / 12) * 100%);
}
.grid__column-6 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  /* flex: 0 0 calc((3 / 12) * 100%); */
  width: calc((6 / 12) * 100%);
}
.grid__column-10 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: calc((10 / 12) * 100%);
}

/* Tablet */
@media (min-width: 640px) {
  html {
    font-size: var(--font-size-tablet);
  }
  .mt-m-16 {
    margin-top: 16px;
  }

  .grid-m__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  .grid-m__column {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;
  }
  .grid-m__column-2 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: calc((2 / 12) * 100%);
  }
  .grid-m__column-4 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    /* flex: 0 0 calc((3 / 12) * 100%); */
    width: calc((4 / 12) * 100%);
  }
  .grid-m__column-6 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    /* flex: 0 0 calc((3 / 12) * 100%); */
    width: calc((6 / 12) * 100%);
  }
  .brand-left p {
    margin: 0 0 2rem 0;
  }
  .btn-collection {
    max-width: max-content;
    padding: 1.1875rem 1.625rem;
  }
  .hot-category__right {
    margin-top: 0;
  }
  .hot-category h3 {
    font-size: 1rem;
  }
  .btn-filter span {
    display: block;
  }
  .brand-banner-content p {
    font-size: 1rem;
  }

  .footer__bottom .container * {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .banner {
    flex-direction: row;
  }
  .hot-category h3 {
    font-size: 1.2rem;
  }
  .banner_image {
    margin-left: 3%;
  }
  .brand-left {
    width: 65%;
  }
}
@media (min-width: 1024px) {
  /* html {
    font-size: var(--font-size-laptop);
  } */
  .brand-banner-content p {
    font-family: Roboto;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; /* 153.846% */
    text-transform: capitalize;
  }
  .hot-category h3 {
    font-size: 1.5rem;
  }
  .banner_image {
    margin-right: 6rem;
  }

  .banner__content {
    margin-right: 7.25rem;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: var(--font-size-laptop);
  }
  .brand-left p {
    color: var(--white);
    font-family: Roboto;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; /* 153.846% */
    text-transform: capitalize;
    margin: 0 0 3.44rem 0;
  }
  .banner__content {
    width: 42.625rem;
  }
  .banner {
    margin-top: 9.69rem;
  }
  .mt-l-24 {
    margin-top: 24px;
  }
  .btn-collection {
    font-size: 1.8125rem;
  }
  .account span {
    display: inline-block;
  }
  .header__bot {
    display: block;
    margin-top: 1.88rem;
  }
  .grid-l__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  .grid-l__column-2 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: calc((2 / 12) * 100%);
  }
  .grid-l__column-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: calc((3 / 12) * 100%);
  }
  .grid-l__column-6 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: calc((6 / 12) * 100%);
  }
  .grid-l__column-2-5 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: calc((2 / 10) * 100%);
  }
  .grid-l__column-4-5 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: calc((4 / 10) * 100%);
  }
  .mr-35 {
    margin-right: 2.5rem;
  }
  .mr-85 {
    margin-right: 8.5rem;
  }
  */ .hot-category h3 {
    font-family: Roboto;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .btn-collection {
    width: 14.8rem;
    background-color: var(--white);
    color: var(--dark);
  }
  .brand-banner-content p {
    margin: 3.44rem 0;
  }
}
@media (min-width: 1536px) {
  /* html {
    font-size: var(--font-size-desktop);
  } */
  .grid.wide {
    width: 82.5rem;
  }
}
