#section-1 {
  background: var(--black-5, rgba(30, 40, 50, 0.05));
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.mobile-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  left: 0;
  display: none;
}

.menu-main {
  height: 100%;
  max-width: 30rem;
  width: 36%;
  background-color: var(--white);
}

#header {
  width: 100%;
}

#section-1 .container {
  margin-bottom: 0;
}

.header__top {
  display: flex;
  padding: 1.94rem 0 1.56rem 0;
  border-bottom: 0.0625rem solid #e3e3e3;
  align-items: center;
}

.header__bot {
  display: none;
}
.account span {
  display: none;
}
.logo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  color: var(--Dark, #000);
  font-family: AmstelvarAlpha;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo img {
  width: 1.9375rem;
  height: 0.9375rem;
}

.search,
.menu-bar-icon {
  display: flex;
  /* display: none; */
  justify-items: center;
}

.search i,
.menu-bar-icon i {
  font-size: 1rem;
}

.menu-bar-icon {
  display: none;
}

.account {
  display: flex;
  justify-content: flex-end;
  padding-right: 0 !important;
}

.account button {
  border: none;
  background: none;
  font-size: 1rem;
  margin-left: 1.38rem;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.menu li {
  cursor: pointer;
}

ul li:hover {
  /* color: var(--primary, #ff6f61); */
  cursor: pointer;
}

.banner {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 3.75rem;
  width: 100%;
  z-index: 9;
  flex-direction: column-reverse;
  /* align-items: center; */
}

.flower-pattern {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
}

#section-1::before {
  content: "";
  background-image: url("./imgs/Frame.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 8.27125rem;
  height: 4.16313rem;
  /* margin-top: 7rem; */
  bottom: 6.78rem;
  left: 0;
}

#section-1::after {
  content: "";
  background-image: url("./imgs/Vector.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 8.27125rem;
  height: 14rem;
  margin-bottom: 6rem;
  position: absolute;
  bottom: 9.8rem;
  right: 0;

  width: 12.17213rem;
  height: 16.36919rem;
}

.banner__content {
  width: 35rem;
  margin-top: 3rem;

  max-width: 100%;
}

.banner__content .title {
  color: var(--Dark, #000);
  font-feature-settings: "clig" off, "liga" off;
  /* Body */
  font-family: Roboto;
  font-size: 4.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.4375rem; /* 74.324% */
  text-transform: capitalize;
  margin-bottom: 3.25rem;
}

.banner__content .description {
  font-weight: 500;
  margin-bottom: 4.13rem;
  line-height: 3.25rem;
}

.black-button:hover,
.btn-collection:hover {
  background: var(--primary, #ff6f61);
}

.btn {
  display: inline-flex;
  padding: 1.1875rem 1.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8125rem;

  color: var(--white);
  border: none;
  cursor: pointer;
}

.btn i,
.account i {
  margin-right: 0.5rem;
}
.left-item i {
  margin-right: 1.31rem;
}
.black-button {
  background: var(--black);
}

.banner_image {
  position: relative;
  /* margin-right: 6rem; */
  margin-left: 2%;
}

.banner_image img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: -4.8%;
  margin-left: -4%;
}

.banner_image img,
.rectangle {
  width: 26.5rem;
  height: 33.875rem;
  border-radius: 10rem 0rem;
  flex-shrink: 0;
}

.rectangle {
  border: 2px solid var(--Dark-25, rgba(0, 0, 0, 0.25));
}

.brands {
  display: flex;
  width: 82.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.63rem;
}

.brands_item img {
  /* width: 10rem; */
}

#section-2 {
  margin-top: 5.63rem;
}

.hot-category {
  /* display: flex; */
  margin-bottom: 8.75rem;
  /* justify-content: space-between;
  flex-direction: column; */
}
.hot-category__item,
.instagram-image img,
.img-product img {
  aspect-ratio: 1;
  object-fit: cover;
}
.rotate-90 {
  position: relative;
}
.text__rotate {
  transform: rotate(-90deg);
  position: absolute;
  z-index: 9;
  top: 0;
  right: -10%;
  left: 0;
  bottom: 0;
}
.hot-category h3 {
  /* transform: rotate(-90deg); */
  /* position: absolute; */
  font-weight: 400;
  text-align: center;
  /* bottom: 48%;
  left: -50%; */
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: -10%;
}
/* .right::before {
  content: "Explore new and popular styles";
} */
.hot-category__left {
  position: relative;
}

.hot-category__left img {
  height: 100%;
}
div img {
  vertical-align: middle;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.hot-category__right {
  /* flex-wrap: wrap; */
  margin-top: 1.5rem;
}

.hot-category-item {
  height: 100%;
  position: relative;
}

.title h3 {
  font-family: Roboto;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.top-section-product {
  margin: 2.19rem 0;
  display: flex;
  justify-content: space-between;
}

.menu-product {
  display: flex;
  width: 20rem;
  align-items: center;
  justify-content: space-between;
}

.btn-filter {
  font-family: Open Sans;
  display: flex;
  padding: 0.3125rem 0.9375rem;
  align-items: center;
  gap: 0.25rem;
}
.btn-filter span {
  display: none;
}
.btn-filter i {
  margin-right: 0.25rem;
}
.menu-product__item {
  color: rgba(0, 0, 0, 0.5);

  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.menu-product__item.active {
  color: var(--dark);
}

.product-item {
  width: 24%;
  margin-bottom: 1.5rem;
}

.product-item:hover .product__hover,
.hot-category__left:hover .product__hover,
.hot-category-item:hover .product__hover {
  display: flex;
  opacity: 1;
}

.product-container {
  /* margin: 0.5rem; */
  position: relative;
}

.product-item__top {
  margin-bottom: 1.12rem;
  position: relative;
}

/* before */

.product-item__top.hot::before {
  content: "HOT";
  color: var(--white);
  position: absolute;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  top: 1.63rem;

  left: 0;
  background-color: var(--primary);
}

/* after */

.product-item__top.sale::after {
  content: "SALE";
  color: var(--white);
  position: absolute;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  top: 1.63rem;
  left: 0;
  background-color: var(--dark-50);
}
.product-item__top img {
  aspect-ratio: 0.78;
}
h6 {
  font-size: 1rem;
  font-weight: 600;
}

.product-item__bottom {
  display: flex;
  justify-content: space-between;
}

.product-item__bottom span {
  font-size: 1rem;
  font-weight: 500;
}

.name-product {
  margin-bottom: 1rem;
}

.product__description {
  color: var(--Dark-50, rgba(0, 0, 0, 0.5));
  margin-top: 1rem;
}

.product__price {
  display: flex;
  align-items: flex-end;
}
.img-product {
  position: relative;
}
.product__hover {
  background: #1e2832;
  justify-content: space-between;
  height: 2.75rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  animation: showInstagramIcon 0.5s ease-in-out;
  padding: 0.9375rem 0.875rem;
  opacity: 0;
  display: none;
}

.product__hover * {
  color: var(--white);
  font-size: 0.9rem;
}

.product__hover .shop-now {
  font-weight: 500;
}

/* .left-item > * {
  padding-left: 1rem;
} */

.shop-now > *,
.shop-now {
  padding: 0;
}

.left-item,
.shop-now {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-now:hover * {
  color: var(--primary);
}
.instagram .title,
.product .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-3 .container {
  background: #010204;
  width: 100%;
  /* height: 26rem; */
  margin-top: 8.75rem;
  justify-content: flex-start;
}
.content__container {
  position: absolute;
  width: 45%;
  max-width: 60rem;
  top: 0;
  right: 0;
  bottom: 0;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container > img {
  /* height: 26rem; */
  /* transform: translate(-6%, 0px); */

  max-width: 110.30744rem;
  max-height: 83.8125rem;
  flex-shrink: 0;
}
.brand-top {
  /* position: absolute;
  right: 0;
  top: 0;
  margin-top: 6%;
  width: 80%; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-items: flex-end;
  position: relative;
}
.brand-logo-dark {
  /* width: 12rem;
  width: 100%; */
  width: 84%;
  /* align-self: flex-start; */
}
.brand-left {
  /* position: absolute;
  bottom: 0;
  left: 0;
  
  width: 60%; */
  /* margin-bottom: 3rem; */
}
.brand-left p {
  color: var(--white);
  font-family: Roboto;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 153.846% */
  text-transform: capitalize;
  margin: 0 0 1rem 0;
}

.brand-logo-white {
  width: 20%;
  /* height: 5.0625rem; */
  position: absolute;
  left: 0;
  bottom: 16%;
}

.brand-banner-content p {
  color: var(--white);
  margin: 1rem 0;
  font-size: 0.8rem;
}

.brand-banner-content {
  /* position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}

.btn-collection {
  max-width: 8rem;
  /* padding: 1rem; */
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--white);
  color: var(--dark);
}
.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(50%);
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  z-index: 9;
}
.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}
#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}
#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}
#contact {
  background: var(--black-5, rgba(30, 40, 50, 0.05));
  margin-bottom: 7.25rem;
}

#contact .container {
  padding: 6.25rem 0;
}

.instagram__content {
  margin: 3.75rem 0;
  width: 100%;
  justify-content: space-between;
}

.instagram-item {
  width: calc(100% / 6.5);
}
.instagram-image {
  position: relative;
}
.instagram-item:hover .instagram-icon__hover {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.instagram-icon__hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: var(--white);
  font-size: 2rem;
  display: none;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.new-letter {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4.375rem;
}

h2.title {
  color: var(--Dark, #000);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* H2 */
  font-family: Roboto;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.address {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.address input[type="email"] {
  font-weight: bold;
}
.address input[type="submit"] {
  text-transform: uppercase;
}
.address input {
  border: none;
  border-bottom: 1px solid #1e2832;
  padding: 0.5rem 1rem;
  border-bottom: 0.125rem solid #000;
  background-color: unset;
}

input[type="email"]:focus {
  outline: none;
}

input[type="email"] {
  width: 100%;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin-left: 1.5rem;
  cursor: pointer;
}
.grid__column-6 {
  /* margin-bottom: 2rem; */
}
#footer {
  margin-bottom: 0;
}
.footer__top {
  margin-bottom: 3.63rem;
}

.left-footer {
  flex: 1;
}

.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-footer .logo {
  justify-content: flex-start;
}
.left-footer .text-capitalize {
  color: var(--black-75);
}

.text-capitalize {
  text-transform: capitalize;
}
.title .text-capitalize {
  text-align: center;
}
.social i {
  margin-right: 2.25rem;
  display: flex;
  width: 1.5625rem;
  height: 1.5625rem;
  justify-content: center;
  align-items: center;
}

.footer-menu {
  display: flex;
  font-size: 0.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.375rem;
  /* margin-left: 3rem; */
  /* width: 12.5rem; */
}
/* .left-footer {
  margin-bottom: 2rem;
} */
.social {
  display: flex;
}
.title-menu {
  font-size: 1rem;
  font-weight: 600;
}

.footer__bottom {
  background-color: var(--black);
}

.footer__bottom .container * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  color: var(--white);
}

.footer__bottom .container,
.footer__top .container {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
  margin: auto;
}

.footer__bottom .container {
  color: #fff;
  flex-wrap: nowrap;
}

.scroll-on-top {
  padding: 0.2rem 1rem;
  font-size: 1rem;
}

.scroll-on-top i {
  margin-left: 0.25rem;
  font-size: 0.75rem;
}
